extends ../layouts/default.pug
block content
 main
  .detail_of_film
    .power_left
      img.poster(src= movie.avatar alt='')
      .name_review
        p#namefilm #{movie.name}
        .TL_NPH
          p#thoiluong #{movie.duration}
          p  &bull; 
          p#ngayphathanh #{movie.date}
        .review
          p Review
          img(src='../image/detail_imgae/Star 7.png' alt='star')
          p.numberOfstar 4.8
          p.numberOfreview (1.222)
        .review_bottom
          .rating
            input#star5(type='radio' value='5')
            label(for='star5') &starf;
            input#star4(type='radio' value='4')
            label(for='star4') &starf;
            input#star3(type='radio' value='3')
            label(for='star3') &starf;
            input#star2(type='radio' value='2')
            label(for='star2') &starf;
            input#star1(type='radio' value='1')
            label(for='star1') &starf;
          button.readnews(type='button')
            img(src='../image/detail_imgae/readnewa poligon.png' alt='')
            |  Read news
    .power_right
      .mcl
        span.details
          | Movie Genre   :     
          p.movie_genre  #{movie.category}
        br
        span.details
          | Censorship      :     
          p.Censorship  13+
        br
        span.details
          | Language        :     
          p.language English
        br
      .storyline
        p Storyline
        .line
        .st
          p.desc #{movie.description}
          span.see-more(onclick='toggleText()') ...See more
      .dicrector
        p Director
        .line
        .list_director
          .dir
            img.pic_director(src='../image/detail_imgae/director.png' alt='director')
            p.name_director James Gunn 
          .dir
            img.pic_director(src='../image/detail_imgae/robert downey junioe.png' alt='director')
            p.name_director Robert Downey Jr. 
      .Actor
        p Actor
        .line
        .list_actor
          .act
            img.pic_actor(src='../image/detail_imgae/neymar.png' alt='actor')
            p.name_director Neymar Junior
          .act
            img.pic_actor(src='../image/detail_imgae/tom holland.png' alt='actor')
            p.name_director Tom Holland
          .act
            img.pic_actor(src='../image/detail_imgae/ronakldo.png' alt='actor')
            p.name_director Cristiano Ronaldo
          .act
            img.pic_actor(src='../image/detail_imgae/messi.png' alt='actor')
            p.name_director Lionek Messi
      .descript_bottom
        .thacamxuc
          .like
            svg.like_icon(xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewbox='0 0 32 32' fill='none')
              path(d='M19.9999 13.3334L19.0133 13.1694C18.9894 13.3126 18.9971 13.4593 19.0357 13.5993C19.0743 13.7393 19.143 13.8692 19.2369 13.98C19.3308 14.0907 19.4477 14.1797 19.5795 14.2408C19.7112 14.3018 19.8547 14.3334 19.9999 14.3334V13.3334ZM5.33325 13.3334V12.3334C5.06804 12.3334 4.81368 12.4387 4.62615 12.6263C4.43861 12.8138 4.33325 13.0681 4.33325 13.3334H5.33325ZM7.99992 27.6667H23.1466V25.6667H7.99992V27.6667ZM24.7466 12.3334H19.9999V14.3334H24.7466V12.3334ZM20.9866 13.4974L22.0613 7.0507L20.0879 6.72136L19.0133 13.1694L20.9866 13.4974ZM19.7599 4.33336H19.4746V6.33336H19.7586L19.7599 4.33336ZM15.3133 6.56003L11.9599 11.5907L13.6239 12.7L16.9773 7.66936L15.3133 6.56003ZM10.5733 12.3334H5.33325V14.3334H10.5733V12.3334ZM4.33325 13.3334V24H6.33325V13.3334H4.33325ZM26.7426 24.72L28.3426 16.72L26.3826 16.3267L24.7826 24.3267L26.7426 24.72ZM11.9599 11.5907C11.8078 11.8191 11.6016 12.005 11.3597 12.1346C11.1178 12.2641 10.8477 12.332 10.5733 12.332V14.332C11.7999 14.332 12.9439 13.72 13.6239 12.7L11.9599 11.5907ZM22.0613 7.0507C22.1168 6.71652 22.0989 6.37292 22.0089 6.04635C21.9188 5.71978 21.7587 5.41674 21.5397 5.15829C21.3207 4.89983 21.0481 4.69216 20.7407 4.5497C20.4334 4.40725 20.0987 4.33342 19.7599 4.33336L19.7586 6.33336C19.8069 6.33348 19.856 6.34411 19.8998 6.36451C19.9436 6.38491 19.9825 6.41459 20.0137 6.4515C20.0449 6.48841 20.0677 6.53166 20.0805 6.57826C20.0933 6.62486 20.0958 6.67369 20.0879 6.72136L22.0613 7.0507ZM24.7466 14.332C25.7999 14.332 26.5866 15.2947 26.3813 16.3254L28.3426 16.7187C28.4487 16.1868 28.4355 15.6367 28.3039 15.1105C28.1723 14.5844 27.9257 14.094 27.5817 13.6746C27.2378 13.2553 26.8051 12.9175 26.3148 12.6856C25.8246 12.4536 25.2889 12.3333 24.7466 12.3334V14.332ZM23.1466 27.6667C23.9942 27.6669 24.8157 27.372 25.4713 26.8348C26.1269 26.2976 26.5761 25.5498 26.7426 24.7187L24.7826 24.3254C24.707 24.7035 24.5026 25.0437 24.2043 25.2881C23.906 25.5324 23.5322 25.6671 23.1466 25.6667V27.6667ZM19.4746 4.33336C18.6515 4.33342 17.8411 4.53536 17.1154 4.92379C16.3897 5.31222 15.7711 5.87381 15.3146 6.5587L16.9773 7.66936C17.2513 7.25824 17.6227 6.91984 18.0583 6.68677C18.494 6.4537 18.9805 6.33318 19.4746 6.33336V4.33336ZM7.99992 25.6667C7.07992 25.6667 6.33325 24.92 6.33325 24H4.33325C4.33325 24.9725 4.71956 25.9051 5.40719 26.5928C6.09483 27.2804 7.02746 27.6667 7.99992 27.6667V25.6667Z' fill='white')
              path(d='M10.6665 13.3333V26.6666' stroke='white' stroke-width='1.5')
            span
              | (
              span.like_count 1.2k
              | )
          .unlike
            svg.unlike_icon(xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewbox='0 0 32 32' fill='none')
              path(d='M19.9999 18.6666L19.0133 18.8306C18.9894 18.6873 18.9971 18.5406 19.0357 18.4006C19.0743 18.2606 19.143 18.1308 19.2369 18.02C19.3308 17.9092 19.4477 17.8202 19.5795 17.7592C19.7112 17.6982 19.8547 17.6666 19.9999 17.6666V18.6666ZM5.33325 18.6666V19.6666C5.06804 19.6666 4.81368 19.5612 4.62615 19.3737C4.43861 19.1862 4.33325 18.9318 4.33325 18.6666H5.33325ZM7.99992 4.33325H23.1466V6.33325H7.99992V4.33325ZM24.7466 19.6666H19.9999V17.6666H24.7466V19.6666ZM20.9866 18.5026L22.0613 24.9493L20.0879 25.2786L19.0133 18.8306L20.9866 18.5026ZM19.7599 27.6666H19.4746V25.6666H19.7586L19.7599 27.6666ZM15.3133 25.4399L11.9599 20.4093L13.6239 19.2999L16.9773 24.3306L15.3133 25.4399ZM10.5733 19.6666H5.33325V17.6666H10.5733V19.6666ZM4.33325 18.6666V7.99992H6.33325V18.6666H4.33325ZM26.7426 7.27992L28.3426 15.2799L26.3826 15.6733L24.7826 7.67325L26.7426 7.27992ZM11.9599 20.4093C11.8078 20.1809 11.6016 19.9949 11.3597 19.8654C11.1178 19.7358 10.8477 19.668 10.5733 19.6679V17.6679C11.7999 17.6679 12.9439 18.2799 13.6239 19.2999L11.9599 20.4093ZM22.0613 24.9493C22.117 25.2835 22.0993 25.6273 22.0093 25.954C21.9194 26.2807 21.7593 26.584 21.5403 26.8426C21.3213 27.1012 21.0486 27.309 20.7411 27.4515C20.4336 27.594 20.0988 27.6666 19.7599 27.6666V25.6679C19.8082 25.6678 19.856 25.6572 19.8998 25.6368C19.9436 25.6164 19.9825 25.5867 20.0137 25.5498C20.0449 25.5129 20.0677 25.4696 20.0805 25.423C20.0933 25.3764 20.0958 25.3263 20.0879 25.2786L22.0613 24.9493ZM24.7466 17.6679C24.9932 17.668 25.2367 17.6133 25.4596 17.5078C25.6825 17.4024 25.8793 17.2488 26.0357 17.0581C26.192 16.8674 26.3041 16.6444 26.3639 16.4052C26.4237 16.1659 26.4296 15.9164 26.3813 15.6746L28.3426 15.2813C28.4489 15.8132 28.4359 16.3635 28.3044 16.8898C28.1729 17.4161 27.9263 17.9067 27.5823 18.3262C27.2384 18.7457 26.8056 19.0836 26.3152 19.3157C25.8248 19.5477 25.2891 19.668 24.7466 19.6679V17.6679ZM23.1466 4.33325C23.9942 4.33309 24.8157 4.62792 25.4713 5.16514C26.1269 5.70237 26.5761 6.44881 26.7426 7.27992L24.7826 7.67325C24.7073 7.29487 24.503 6.95567 24.2047 6.71107C23.9063 6.46646 23.5324 6.33293 23.1466 6.33325V4.33325ZM19.4746 27.6666C18.6515 27.6665 17.8411 27.4646 17.1154 27.0762C16.3897 26.6877 15.7711 26.1261 15.3146 25.4412L16.9773 24.3319C17.2513 24.743 17.6227 25.0801 18.0583 25.3132C18.494 25.5462 18.9805 25.6668 19.4746 25.6666V27.6666ZM7.99992 6.33325C7.07992 6.33325 6.33325 7.07992 6.33325 7.99992H4.33325C4.33325 7.02746 4.71956 6.09483 5.40719 5.40719C6.09483 4.71956 7.02746 4.33325 7.99992 4.33325V6.33325Z' fill='white')
              path(d='M10.6665 18.6666V5.33325' stroke='white' stroke-width='1.5')
            span
              | (
              span.unlike_count 1.2k
              | )
        .booking_trailer
          button.booking(type='button')
            a(href='#seattime-top') Booking
          button.trailer(type='button')
            img(src='../image/detail_imgae/trailer poligon.png' alt='')
            |  Trailer
  #seattime-top.thanhngang
  .seat_time
    .st_left
      p Select Seats
      .manchieu
        svg(xmlns='http://www.w3.org/2000/svg' width='431' height='84' viewbox='0 0 431 84' fill='none')
          path(d='M28 0H403L430.5 84H0L28 0Z' fill='url(#paint0_linear_121_2835)')
          defs
            lineargradient#paint0_linear_121_2835(x1='215.25' y1='-87.5' x2='215.25' y2='84' gradientunits='userSpaceOnUse')
              stop(offset='0.213877' stop-color='#FCC434')
              stop(offset='1' stop-opacity='0')
      .seat-selection
        .seats
          // Render seats dynamically in JS
          #seat-container
          .descriptionOfseat
            .cosan
            p Availabel
            .conguoidat
            p Occupied
            .chobanchon
            p Selected
      button#submit-seats.submit_seats(onclick='submit_seats()') Submit Seats
    .st_right
      p Select Date &amp; Time
      form#dateTimeForm
        label(for="date") Ngày chiếu
        input#dateInput(type="date")
        label(for="timeofTicket") Giờ chiếu
        select#timeofTicket
          option(value= '' disabled selected) --Chọn thời gian chiếu--
        // Thẻ input ấn lưu giá khi chọn thời gian chiếu
        input(type="hidden" value= movie._id id='idmovie')
        button.subtime(type='button' onclick='submittime()') Submit Time
  .thanhngang
  .pay
    h1 Payment Method
    .payment
      .pl
        ul.menu
          li#toggleElement.toggle-element.momo
            .left
              img(src='../image/detail_imgae/momo.png' alt='')
              span Momo
            .right &gt;
          li#toggleElement.toggle-element.zalopay
            .left
              img(src='../image/detail_imgae/zalopay.png' alt='')
              span Zalo Pay
            .right &gt;
          li#toggleElement.toggle-element.shopeepay
            .left
              img(src='../image/detail_imgae/shopeepay.png' alt='')
              span Shopee Pay
            .right &gt;
          li#toggleElement.toggle-element.atmcard
            .left
              img(src='../image/detail_imgae/atm.png' alt='')
              span ATM Card
            .right &gt;
          li#toggleElement.toggle-element.visa
            .left
              img(src='../image/detail_imgae/visa.png' alt='')
              span International payments
            .right &gt;
      .pr(style="display: flex;")
        .line
          span Order ID
          p#orderID XXXXXXXXX
        .line
          span Seats
          p#seats_buy XX
        .line
          span Date&amp;Time
          p#datetimeticket XX/XX/XXXX
        .line
          span Price
          p#price
            | XXXXXXXXXX 
            span VND
        .line
          input#discount(type='text' placeholder='Discount code')
          button.apply-dis(type='button' onclick='applyDiscount()') APPLY
        .line.thanh
        .line.total
          span Total
          p#totalPrice.totalprice
            | XXXXXXXX 
            span  VND
        .line.buytick
          if(UserInfor)
            button#showMessageButton.buyticket(type='button' onclick=`buyticket()`) Buy Ticket
          else 
            a(href="/user/login")
              button.buyticket(type='button') Login for continue

    form(action="/order/checkout", method="post" id='formSubmit') 
      #customMessage.hidden
        img.qr(src='/image/detail_imgae/qr thanh toan.png' alt='qr thanh toan')
        if(UserInfor)
          input(type="hidden" id='user_id' name="user_id" value= UserInfor._id)
        input(type="hidden" id='order_id' name="order_id" )
        input(type="hidden" id='ticket_id' name="ticket_id" )
        input(type="hidden" id='movie_id' name="movie_id" value= movie._id)
        input(type="hidden" id='seats' name="seats")
        input(type="hidden" id='time' name="time")
        input(type="hidden" id='price' name="price")
        input(type="hidden" id='total' name="total")
        .thanhngang
        .list_tt
          p Order ID
          p#orderIDtb XXXXXXXX
        .list_tt
          p Seats
          p#seats_buytb XXXXXXXX
        .list_tt
          p Date&amp;Time
          p#datetimetickettb XXXXXXXX
        .list_tt
          p Price
          p#pricetb XXXXXXXX
        .list_tt
          p Discount
          p#discounttb XXXXXXXX
        .list_tt
          p Total
          p#totalPricetb
            | XXXXXXXX 
            span  VND
        .list_tt
          button#closeMessageButton Close
          button#acceptMessageButton(type= 'submit') Accept
  script(src="/javascript/detail.js") 
  script.
    // Lấy ngày hiện tại
    const today = new Date().toISOString().split('T')[0];
    // Đặt giá trị min cho input
    document.getElementById('dateInput').setAttribute('min', today);
