extends ../layouts/default.pug
block content
  main
  .pay
    .head-list-detail
      h1 LIST OF TICKET
      h1 DETAIL OF TICKET
    .payment
      .pl
        ul.menu
         each record in records
          li#toggleElement.toggle-element(onclick=`showTicketDetail('${record.order_id}')`)
            .left
              img(src= record.MovieInfo.avatar alt='')
            .middle
              p.namefilm #{record.MovieInfo.name}
              .time
                p.date #{record.time.split(',')[1]}
                p.hour #{record.time.split(',')[0]}
              p.mseat #{record.seats}
            .right &gt;
      each record in records
       .tk_pr(order_id = record.order_id)
          .line
            p Order ID
            p#orderID 
          .line
            span Seats
            p#seats_buy #{record.seats}
          .line
            span Date
            p#datetimeticket #{record.time.split(',')[1]}
          .line
            span Time
            p#time #{record.time.split(',')[0]}
          .line
            span Room
            p#Room PH1
          .line
            span Price
            p#price
              | #{record.price}
              span VND
          .line
            span Discount
            p#discount 00%
          .line.thanh
          .line.total
            span Total Price
            p#totalPrice.totalprice
              | #{record.total}
              span  VND
          .line.buytick
            button#closeMessageButton.buyticket(type='button' onclick='resetDetail()')
              | Close

  section.detailOfticket
  script(src="/javascript/listTicketOrder.js") 