include ../mixins/alert.pug

doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Home Page
  link(rel='stylesheet' href='./css/homePage.css')
  link(rel='stylesheet' href='./css/flash.css')
  link(rel='stylesheet' type='text/css' href='https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css')
  link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css")
header
  +alert-success(2000)
  +alert-danger(2000)
  if(messages.danger) 
    span #{messages.danger}
  .container
    #iconNav(onclick='toggleProfile()')
      img(src='./image/profile/Group.svg' alt='Icon')
    #profile.profile
      if(UserInfor)
        img.profile-pic(src= UserInfor.avatar alt='Profile Picture')
        h3  #{UserInfor.lastname}
      else
        img.profile-pic(src='' alt='Profile Picture')
        h3 Example
      .divider
      .contact-info
        div
          img(src='./image/profile/call.svg' alt='Call Icon')
          if(UserInfor)
            span #{UserInfor.phone}
        div
          img(src='./image/profile/sms.svg' alt='Email Icon')
          if(UserInfor)
            span #{UserInfor.email}
        .divider2
        div
          img(src='./image/profile/ticket-2.svg' alt='Ticket Icon')
          span My Tickets
          a(href='/user/myticket')
            img(src='./image/profile/arrow-right.svg' alt='Arrow Right')
        div
          img(src='./image/profile/shopping-cart.svg' alt='Shopping Cart Icon')
          span Payment History
          a(href='')
            img(src='./image/profile/arrow-right.svg' alt='Arrow Right')
        div
          img(src='./image/profile/translate.svg' alt='Translate Icon')
          span Change Language
          a(href='')
            img(src='./image/profile/arrow-right.svg' alt='Arrow Right')
        div
          img(src='./image/profile/lock.svg' alt='Lock Icon')
          span Change Password
          a(href='')
            img(src='./image/profile/arrow-right.svg' alt='Arrow Right')
        div
          img(src='./image/profile/user.svg' alt='User Icon')
          span Log Out
          a(href='/user/logout')
            img(src='./image/profile/arrow-right.svg' alt='Arrow Right')
  #home
    img(src='./image/homepage_img/home.svg' alt='')
    p Home
  #navChild
    .search_container
      img(src='./image/homepage_img/search-normal.svg' alt='')
      input.searchInput(type='text' placeholder='Search' id= "search-input")
      .search-results(style="display: none")
        
    .iconBtn(onclick='hello')
      img(src='./image/homepage_img/ticket.svg' alt='')
      p Ticket
    .iconBtn
      a(href= "/movie")
        img(src='./image/homepage_img/video.svg' alt='')
        p Movie
    if(tokenExist)
      .iconBtn.avataruser()
        img(onclick = "check()" width="40px" style="border-radius: 20px;" src= UserInfor.avatar alt='')
        p Hi #{UserInfor.lastname}!
        div.detail()
          ul
            li
              a(href = "/user/logout" id="logout") Logout 
              br
            li
              a(href = "/user/profile") Profile
    else 
      a.iconBtn(href='/user/login')
        img(src='./image/homepage_img/user.svg' alt='')
        p Sign Up
  #notification
    img(src='./image/homepage_img/notification.svg' alt='')
.banner_container
  each banner in banners
    .banner.fade
      img(src=`/image/${banner.img}` alt='')
      .content
        h1 #{banner.title}
        p.intro Giới thiệu phim
        p.ct #{banner.details}
        .content_child
          h2 Th&#x1EC3; lo&#x1EA1;i
          p #{banner.category}
          .response
            .rp
              img(src='/image/homepage_img/cib_imdb.svg' alt='')
              p #{banner.point}
            .rp
              img(src='/image/homepage_img/zondicons_time.svg' alt='')
              p #{banner.duration}
          button.details Chi ti&#x1EBF;t
.trans
  img.prev(src='./image/homepage_img/prev.svg' alt='prev')
  ul
    .dot
    .dot
    .dot
    .dot
    .dot
    .dot
  img.next(src='./image/homepage_img/next.svg' alt='next')
.playing(style='color: white; margin-top: 200px')
  .category
    h1 NOW PLAYING
    a#see(href='/movie') See All &gt;&gt;
  hr
  .list_movie_playing
    each movie in movies
      .movie_playing
        .poster
          img(src=movie.avatar alt='')
        .title #{movie.name}
        .inf
          .inf-detail
            p
              i.fa-solid.fa-video
              | #{movie.author}
            p
              i.fa-solid.fa-calendar
              | #{movie.date}
          button#book_ticket(data-id = movie._id) Buy ticket
.playing(style='color: white; margin-top: 200px')
  .category
    h1 COMING SOON
    a#see(href='/movie/comingsoon') See All &gt;&gt;
  hr
  .list_movie_coming_soon
    each movie in movies 
      .movie_playing
        .poster
          img(src=movie.avatar alt='')
        .title #{movie.name}
        .inf
          .inf-detail
            p
              i.fa-solid.fa-video
              | #{movie.author}
            p
              i.fa-solid.fa-calendar
              | #{movie.date}
          button#book_ticket(data-id = movie._id) Đặt vé
div.playing(style="color: white; margin-top: 200px")
    div.category
        h1 Khuyến mãi
        a#see(href="") See All >>
    hr
    div.list_sale
        div.sale_img
            img(src="./image/homePage_img/discount.svg", alt="")
        div.sale_img
            img(src="./image/homePage_img/discount.svg", alt="")
        div.sale_img
            img(src="./image/homePage_img/discount.svg", alt="")

div#mockup
    div.content
        h1 Watch Everywhere
        p
            | Lorem ipsum dolor, sit amet consectetur adipisicing elit. Id
            | sit obcaecati distinctio. Sint consectetur vel numquam, nam
            | laborum itaque ea voluptate possimus. Ipsum suscipit quas
            | omnis. Asperiores tempora dolores totam! Totam fugiat
            | similique dolorem corrupti minus ipsum vero ea pariatur
            | facilis, asperiores sint optio.
        button(type="button") Let's start
    img(src="./image/homePage_img/Mockup.svg", alt="")

footer#ft
  .container
    .ctn_left
      .footer-left
        h3 Thông tin
        hr
        ul
          li Liên hệ
          li Giới thiệu
          li Khiếu nại bản quyền
          li Chính sách bảo mật
      .footer-center
        h3 Người thực hiện
        hr
        ul
          li Nguyễn Công Bằng
          li Hoàng Thu Thảo
          li Nguyễn Dình Linh
          li Nguyễn Quốc Huy
          li Lê Trần Huy
      p
    .footer-right
      h2 Build Your Dream
      p
        | Website bán vé xem phim online giúp người dùng dễ dàng chọn phim, so sánh giá và đặt vé nhanh chóng.
        | Khách hàng có thể xem lịch chiếu, chọn ghế và thanh toán trực tuyến. Hệ thống cung cấp trải nghiệm tiện lợi,
        | giảm thiều thời gian chờ đợi tại rạp. Giao diện đơn giản và thân thiện với người dùng.
      .contact
        p Hotline: 0********312
        .social-media
          a(href='#')
            i.fab.fa-facebook-f
          a(href='#')
            i.fab.fa-twitter
          a(href='#')
            i.fab.fa-youtube
          a(href='#')
            i.fa-brands.fa-instagram
script(type='text/javascript' src='https://code.jquery.com/jquery-1.11.0.min.js')
script(type='text/javascript' src='https://code.jquery.com/jquery-migrate-1.2.1.min.js')
script(type='text/javascript' src='https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js')
script(type='module' src='/javascript/homePage.js')
script(src="/javascript/showAlert.js")
script(src="/javascript/main.js")
script.
  function check() {
    var detail = document.querySelector(".detail");
    let display = detail.style.display;
    console.log(display)
    if(display == "block") {
      detail.style.display = "none"
    }
    else {
      detail.style.display = "block"
    }
  }
  function toggleProfile() {
  const profile = document.getElementById("profile");
  if (profile.style.display === "none" || profile.style.display === "") {
  profile.style.display = "flex";
  } else {
  profile.style.display = "none";
  }
  }
  var logout = document.querySelector("a[id='logout']")
  if(logout) {
    logout.addEventListener("click", (e) => {
      e.preventDefault()
      var checkedOK = confirm("Bạn chắc chắn muốn đăng xuất?")
      if(checkedOK) {
        window.location.href = "/user/logout"
      }
    })
  }
  var btnBuyTicket = document.querySelectorAll("button[id='book_ticket']")
  if(btnBuyTicket) {
    console.log(btnBuyTicket)
    btnBuyTicket.forEach(btn => {
      btn.addEventListener("click", e => {
        var id = btn.getAttribute("data-id")
        window.location.href = `/movie/${id}`
      })
    })
  }
  //- 
